---
title: Registering incoming letter - overview
title-slug: rejestracja-kroki
role: kancelaria, sekretariat
keywords: metadata, tutorial, adresse, client, document
permalink: sample2
info: > 
  aRchi3 to program do zarządzania obiegiem korespondencji w organizacji. W przypadku korespondencji przychodzącej, pierwszym krokiem jest rejestracja pisma w programie aRchi3. Czynność tę wykonuje się w kancelarii oraz w komórkach organizacyjnych, do których trafiają pisma przychodzące (np. drogą elektroniczną lub składane bezpośrednio przez petenta). W obu przypadkach procedura wygląda tak samo, przy czym kancelaria może dekretować zarejestrowane pismo na komórkę właściwą merytorycznie i to pismo trafia do tej komórki jako oczekujące na przyjęcie do realizacji. Natomiast pismo zarejestrowane przez sekretariat trafia od razu na listę korespondencji przychodzącej przyjętej do realizacji w komórce obsługiwanej przez sekretariat.</br></br> Proces rejestracji pisma przychodzącego obejmuje kilka etapów, które zostały ogólnie przedstawione w tym samouczku. Niektóre elementy tego procesu przedstawiono szczegółowo w osobnych samouczkach.
firstImg: kanc-edok.PNG
firstSVG:
  - 0, 0, 0, 0
sections:
- section-include: dzialanie.html
  steps:
  - instrukcja: Na ekranie głównym aRchi3 kliknij ikonę <code>Wprowadzanie korespondencji</code>.
    substeps:
    - podinstrukcja: Zostanie wyświetlony ekran <code>Wprowadzanie korespondencji przychodzącej</code>
    images:
    - nextImg: kanc-edok-wprowadzanie.PNG
      SVGS:
      - 10.8, 16.7, 35.4, 13.5
    - nextImg: kanc-wprowadzanie.PNG
  - instrukcja: W przypadku pisma przychodzącego w formie papierowej zastosuj przyjętą procedurę — sprawdź kopertę, otwórz ją, sprawdź pismo i załączniki.
    substeps:
    - podinstrukcja: Następnie przystaw pieczęć wpływu, wpisz datę wpływu i liczbę załączników oraz naklej kod kreskowy na pismo (jeśli pismo ma pozostać nierozpakowane w kopercie, naklej kod na kopercie).
    images:
    - nextImg: kanc-wprowadzanie.PNG
    - nextImg: kanc-wprowadzanie.PNG
  - instrukcja: Przejdź do wprowadzania informacji dotyczących pisma (metadanych) w systemie aRchi3.
    substeps:
    - podinstrukcja: W sekcji <code>Informacje ogólne</code>
    - podinstrukcja: rozwiń listę <code>Typ korespondencji</code> i wybierz rodzaj przesyłki właściwy dla rejestrowanego pola.
    - podinstrukcja: Opcjonalnie możesz wypełnić inne pola w tej sekcji.
    images:
    - nextImg: kanc-wprowadzanie.PNG
    - nextImg: kanc-wprowadzanie.PNG
      SVGS:
      - 1.8, 12.4, 96.2, 13.1
    - nextImg: kanc-wprowadzanie1.PNG
      SVGS:
      - 15.9, 18.2, 25.9, 19.2
    - nextImg: kanc-wprowadzanie2.PNG
      SVGS:
      - 15.7, 21, 10.6, 3.9
      - 42.3, 18.5, 18.2, 3.1
      - 42.4, 21.4, 10.2, 3.1
      - 70, 21.4, 12.2, 3.5
  - instrukcja: W sekcji <code>Klient</code>
    substeps:
    - podinstrukcja: wybierz rodzaj klienta
    - podinstrukcja: i znajdź klienta w słowniku, aby wypełnić pola danych.
    - podinstrukcja: Sposób obsługi pól w tej sekcji opisano w osobnym <a href="rejestracja-klient.html" target="_blank">samouczku</a>.
    images:
    - nextImg: kanc-wprowadzanie2.PNG
      SVGS:
      - 2.5, 25.2, 95.7, 18.2
    - nextImg: kanc-wprowadzanie2.PNG
      SVGS:
      - 3.4, 30.7, 1.6, 7.8
    - nextImg: kanc-wprowadzanie3.PNG
      SVGS:
      - 22.4, 27.5, 12.6, 3.5
    - nextImg: kanc-wprowadzanie4.PNG
  - instrukcja: Opcjonalnie wypełnij pola w sekcji <code>Adresat</code>.
    images:
    - nextImg: kanc-wprowadzanie4a.PNG
      SVGS:
      - 2, 42.7, 96.3, 9.8
  - instrukcja: Przejdź do sekcji <code>Informacje szczegółowe</code>.
    substeps:
    - podinstrukcja: Dla klienta urzędowego program zakłada, że pismo ma określony znak pisma i datę, dlatego wypełnienie pól <code>Znak pisma</code> i <code>Data na piśmie</code> jest obowiązkowe.
    - podinstrukcja: Jeśli którykolwiek z tych atrybutów nie został podany na piśmie, zaznacz opcję <code>brak</code> przy odpowiednim polu.
    - podinstrukcja: Wpisz krótki opis treści pisma w polu <code>Tytuł — skrót treści</code> i opcjonalnie wypełnij pozostałe pola w tej sekcji.
    - podinstrukcja: Sposób obsługi pól w tej sekcji opisano szczegółowo w osobnym <a href="rejestracja-szczegoly.html" target="_blank">samouczku</a>.
    images:
    - nextImg: kanc-wprowadzanie4a.PNG
      SVGS:
      - 2.4, 52.5, 95.3, 33.5
    - nextImg: kanc-wprowadzanie4a.PNG
      SVGS:
      - 19.1, 54.9, 41.3, 3.8
      - 73.3, 55, 21.8, 3.8
    - nextImg: kanc-wprowadzanie5.PNG
      SVGS:
      - 14.5, 55, 4.4, 3.4
      - 68.8, 55.6, 4.4, 3.1
    - nextImg: kanc-wprowadzanie5.PNG
      SVGS:
      - 14.9, 61.4, 80.3, 8
    - nextImg: kanc-wprowadzanie6.PNG
  - instrukcja: Kliknij w polu <code>Kod kreskowy</code> i używając czytnika kodów kreskowych, wczytaj kod kreskowy naklejony na piśmie. Jeśli nie masz czytnika, przepisz ręcznie numer z naklejki z kodem kreskowym.
    images:
    - nextImg: kanc-wprowadzanie6.PNG
      SVGS:
      - 60, 86.3, 26.1, 4.4
  - instrukcja: Z listy <code>Przekazanie do</code> wybierz symbol komórki organizacyjnej, do której ma trafić pismo.
    substeps:
    - podinstrukcja: W przypadku rejestracji pisma przez sekretariat w tym polu będzie wpisany domyślnie symbol komórki obsługiwanej przez sekretariat i nie będzie można tego zmienić.
    images:
    - nextImg: kanc-wprowadzanie7.PNG
      SVGS:
      - 59.9, 91.7, 35.7, 3.5
    - nextImg: kanc-wprowadzanie8.PNG
  - instrukcja: Kliknij przycisk <code>Zapisz</code>.
    images:
    - nextImg: kanc-wprowadzanie8.PNG
      SVGS:
      - 77.2, 95.6, 9.9, 3.4
  - instrukcja: Zostanie wyświetlony komunikat z nadanym numerem kolejnym w rejestrze korespondencji przychodzącej.
    substeps:
    - podinstrukcja: Klikając odpowiedni przycisk, zdecyduj, czy chcesz zakończyć rejestrację pisma (<code>Zamknij</code>),
    - podinstrukcja: czy do wprowadzonych metadanych dodasz treść pisma i załączników w formie elektronicznej (<code>Dołącz pliki i zamknij</code>).
    - podinstrukcja: Proces dołączania treści pisma w formie elektronicznej (jako skan lub plik) opisano szczegółowo w osobnym <a href="rejestracja-skanowanie.html" target="_blank">samouczku</a>.
    images:
    - nextImg: kanc-wprowadzanie9.PNG
      SVGS:
      - 25.8, 38.2, 48.4, 30
    - nextImg: kanc-wprowadzanie9.PNG
      SVGS:
      - 58.8, 57, 13.1, 4.4
    - nextImg: kanc-wprowadzanie9.PNG
      SVGS:
      - 43.5, 57.1, 13.4, 4.4
    - nextImg: kanc-wprowadzanie9.PNG
  - instrukcja: Przepisz numer RKP na pieczęci wpływu na piśmie.
    images:
    - nextImg: kanc-wprowadzanie9.PNG
- section-include: wynik.html
  steps:
  - instrukcja: Pismo przychodzące zostało zarejestrowane w systemie aRchi3,
    substeps:
    - podinstrukcja: a informacja o piśmie została przekazana do odpowiedniej komórki organizacyjnej.
    images:
    - nextImg: kanc-wprowadzanie10.PNG
      SVGS:
      - 34.3, 10.2, 30.8, 3.8
    - nextImg: kanc-wprowadzanie11.PNG
      SVGS:
      - 1.4, 29.5, 92.8, 3.5
      - 34.6, 7.5, 7.7, 3.8
  - instrukcja: Na piśmie wpisano numer RKP przypisany przez system.
    images:
    - nextImg: kanc-wprowadzanie10.PNG
      SVGS:
      - 15.6, 14.9, 15.3, 3.4
  - instrukcja: Dodatkowo pismo jest oznaczone kodem kreskowym, który został wczytany do systemu w celu ułatwienia odnajdowanie w systemie zapisów dotyczących tego pisma.
    images:
    - nextImg: kanc-wprowadzanie10.PNG
      SVGS:
      - 59.8, 86.6, 26.3, 4.1
- section-include: wskazowka.html
  steps:
  - instrukcja: W polu <code>Data wpływu przesyłki</code> jest domyślnie ustawiona data bieżąca. Można ją zmienić na datę wcześniejszą. Zmiana na datę późniejszą jest niemożliwa.
    images:
    - nextImg: kanc-wprowadzanie.PNG
      SVGS:
      - 42.1, 21, 8.5, 3.7
  - instrukcja: W sekcji <code>Klient</code> można przypisać do pisma kilku klientów. Służy do tego przycisk ze znakiem <code>+</code>. Więcej informacji w osobnym <a href="rejestracja-klient.html" target="_blank">samouczku</a>.
    images:
    - nextImg: kanc-wprowadzanie.PNG
      SVGS:
      - 94.5, 28.2, 3.4, 6.7
  - instrukcja: Zaznaczenie pola wyboru <code>Przejdź do wprowadzania nowej pozycji po zamknięciu</code> w oknie komunikatu potwierdzającego rejestrację
    substeps:
    - podinstrukcja: spowoduje, że po zakończeniu rejestracji pisma aRchi3 wyświetli puste okno <code>Wprowadzanie korespondencji przychodzącej</code>.
    images:
    - nextImg: kanc-wprowadzanie9.PNG
      SVGS:
      - 28.4, 62.1, 28.7, 3
    - nextImg: kanc-wprowadzanie.PNG
  - instrukcja: Każda sekcja okna <code>Wprowadzanie korespondencji przychodzącej</code> ma u góry pole wyboru <code>zapamiętaj</code>. Zaznaczenie go spowoduje, że wpisane dane zostaną automatycznie wprowadzone podczas rejestrowania kolejnego pisma, co może usprawnić pracę w przypadku rejestrowania pism, w których część metadanych powtarza się.
    images:
    - nextImg: kanc-wprowadzanie7.PNG
      SVGS:
      - 19, 12.6, 1.6, 2.3
      - 19, 25.3, 1.6, 2.3
      - 19, 43.2, 1.6, 2.3
      - 19, 52.6, 1.6, 2.3
docPath: /chapters/help-general-en.html
---

{% for sect in page.sections %}
	{% include {{ sect.section-include }} %}
	{% for step in sect.steps %}
      <p class="instrukcja">{{ step.instrukcja }}
      {% for substep in step.substeps %}
        <span class="instrukcja">{{ substep.podinstrukcja }}</span>
      {% endfor %}
      </p>
    {% endfor %}

  </section>
{% endfor %}


<!-- resztę robi makieta -->
